.text-center {
    margin-bottom: 50px;
  }
  .input-group {
    width: 100%;
  }
  .googleLogin {
    background-color: wheat;
  }
  .naverLogin {
    background-color: #00C73C;
  }
  .facebookLogin {
    background-color: #4E75BD;
  }
  .kakaoLogin {
    background-color: #FFEB01;
  }
  .socialBtn {
      margin: 8px;
      padding: 2px;
      width: 30px;
      height: 30px;
      border: 1px solid #333333;
      border-radius: 2px;
      
      &:hover {
          cursor: pointer;
      }
  }
  